.profile-links-container {
  /* background-color: #7ecb01; */
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  min-height: 100px;
}

.sub-header {
  width: 100%;
}

.btn-link {
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 18;
  text-decoration: none;
  background-color: rgb(110, 179, 1);
  margin-bottom: 20px;
}
