.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 70%;
}

.profile-adventurous {
  align-self: center;
  /* background-image: url("../../../assets/images/farmers_market.jpg"); */
  /* background-position: center; */
  /* background-size: cover; */
  width: 30%;
  height: auto;
}
aside {
  width: 100%;
  display: flex;
  flex-direction: row;
}
ul {
  border: 1px solid black;
  padding: 10%;
}
li {
  list-style: none;
  text-align: left;
  padding-top: 10px;
}
