.error-message-container {
  border: red 1px solid;
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  height: auto;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.error-message {
  color: red;
  font-family: "Roboto", sans-serif;
  align-self: center;
}
