.radio-container-radio {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
  /* padding-top: 1vmin; */
  font-family: "Roboto", sans-serif;
}

.form-label-radio {
  font-size: 1em;
  color: rgb(68, 68, 68);
  width: 20%;
  padding: 0 0 0 1%;
  text-align: left;
  background-color: #e3e3e3;
  line-height: 1.5em;
}

.radio-group {
  display: flex;
  flex-flow: row nowrap;
  font-size: 0.9em;
  width: 90%;
  line-height: 1.5em;
}

/* .form-label.capitalize {
  color: rgb(68, 68, 68);
  height: auto;
} */

.form-radio {
  height: auto;
  /* width: 90%; */
}
