.form-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 3vmin;
  /* margin-left: 5%; */
  /* margin-right: 5%; */
}

.form-select {
  width: 60%;
  height: auto;
  line-height: 3em;
}
