.form-txtrea {
  width: 80%;
  height: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  font-size: 16;
  outline: none;
}
