.auth-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.auth-body {
  width: 70%;
  height: 50vmin;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}
.auth-info {
  padding: 10px;
  text-align: justify;
}
.auth-label {
  text-align: left;
}

.auth-form {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  width: 80%;
  border-bottom: 3px solid rgb(110, 179, 1);
}

.recaptcha {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
  height: auto;
  width: 100%;
}

.auth.btn {
  align-self: center;
}
